*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

}
body{
    background-color: antiquewhite;
    

}
.main-body{
   transform: translate(-50%,-50%);
   position: absolute;
   top: 50%;
   left: 50%;
}
.container{
    width: 70vmin;
    height: 70vmin;
   display: flex;
   flex-wrap: wrap;
   gap: 2vmin;
   

}
#heading{
    margin-top: 30px;
    font-size: 8vmin;
    font-weight: bold;
    text-align: center;
    color: black;

}

.button-option{
    background-color: white;
    width: 22vmin;
    height: 22vmin;
    border: none;
    border-radius: 10px;
    font-size: 12vmin;
    color: blueviolet;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
}
.button-option:hover{
   opacity: 0.5px;
   background-color: rgb(215, 174, 174);
    cursor: pointer;
}
#restart{
    font-size: 3.5rem;
    
   background-color: rgb(128, 131, 131);
   color: white;
   border: none;
   border-radius: 20px;
   position: relative;
   display: block;
   margin: 3.2em auto 0 auto;
}
#restart:hover{
    background-color: rgb(215, 174, 174);
    cursor: pointer;
}
.message-container{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    font-size: 12vmin;

}
#message{
    color: black;
    text-align: center;
    font-size: 1em;
}
#new-game{
    background-color: rgb(128, 131, 131);
    color: white;
    padding: 0.05em 1em;
    font-size: 1em;
    border: none;
    border-radius: 10px;
}
.message-container.hide{
    display: none;
}